post-tile {
  display: block;
  position: relative;
}

.post-tile-image {
  display: block;
  width: 100%;
}

.post-tile-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fefefe;
  background-color: rgba(0, 0, 0, .3);
  padding: .5em;
}

.post-tile-content-date {
  position: absolute;
  top: .5em;
  left: .5em;
}

.post-tile-content-category {
  width: 2em;
}

.post-tile-content-title {
  text-align: center;
  font-size: 1.7em;
}

.post-title-content-distance {
  margin-bottom: .5em;
}

.post-tile-link {
  display: block;
  margin: 0;
  padding: 0.675em 2.46em;
  border: 2px solid #f3f3f3;
  background-color: transparent;
  font-size: 0.8em;
  color: #f3f3f3 !important;
  text-align: center;
  text-transform: uppercase;
  transform: scaleX(.8);
  transform-origin: center;
  transition: all .1s linear;
  &:hover {
    background-color: #f3f3f3;
    color: #4C4C4C !important;
  }
  & > .fa-long-arrow-right {
    padding-left: 1em;
  }
}

post-tile[similar] {
  .post-tile-content-category,
  .post-tile-link {
    display: none;
  }
}
