<div class="banner">
  <img class="banner-image desktop" src="{{ page.featured_photo_url | relative_url }}" alt="{{ page.title }}">
  <img class="banner-image mobile" src="{{ page.mobile_cover_photo_url | relative_url }}" alt="{{ page.title }}">

  <div class="banner-tile">
    <div class="banner-tile-inner">
      <img class="banner-tile-inner-icon" src="/assets/images/{{ page.categories[0] }}-white.svg" alt="{{ page.categories[0] }}">

      <time class="banner-tile-inner-date" datetime="{{ page.date | date_to_xmlschema }}">
        {% assign polish_months = "stycznia,lutego,marca,kwietnia,maja,czerwca,lipca,sierpnia,września,października,listopada,grudnia" | split: "," %}
        {% assign month_index = page.date | date: "%-m" | minus: 1 %}
        <em>{{ page.date | date: "%-d" }} {{ polish_months[month_index] }} '{{ page.date | date: "%y" }}</em>
      </time>

      <h1 class="banner-tile-inner-header">{{ page.title }}</h1>

      <span class="banner-tile-inner-distance">
        <em>{{ page.distance }}</em>
      </span>

      <div class="banner-tile-inner-socials">
        <span>
          <i class="fas fa-heart"></i>
          <span>{{ page.likes }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
