<footer class="global-footer">
  <section class="global-footer-logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo-with-tag.svg' | relative_url }}" alt="Hebankowy.pl">
    </a>
  </section>

  <section class="global-footer-categories">
    <h2>Kategorie:</h2>
    <ul class="global-footer-list">
      <li><a href="{{ '/miasta/' | relative_url }}">miasta</a></li>
      <li><a href="{{ '/parki/' | relative_url }}">parki</a></li>
      <li><a href="{{ '/zamki/' | relative_url }}">zamki</a></li>
      <li><a href="{{ '/pola/' | relative_url }}">pola</a></li>
      <li><a href="{{ '/woda/' | relative_url }}">woda</a></li>
      <li><a href="{{ '/góry/' | relative_url }}">góry</a></li>
      <li><a href="{{ '/lasy/' | relative_url }}">lasy</a></li>
    </ul>
  </section>

  <section class="global-footer-menu">
    <h2>Menu:</h2>
    <ul class="global-footer-list">
      <li><a href="{{ '/' | relative_url }}">home</a></li>
      <li><a href="{{ '/o-nas/' | relative_url }}">o nas</a></li>
    </ul>
  </section>

  <a class="global-footer-social" href="//www.facebook.com/hebankowy" target="_blank">
    <div class="global-footer-social-fb">
      <img src="{{ '/assets/images/facebook.svg' | relative_url }}" alt="Facebook">
    </div>
    <div>
      <h2>Psy są społeczne</h2>
      <p>
        Śledź nowe wpisy na facebooku<br>
        i poznawaj ciekawe miejsca!
      </p>
      <p class="global-footer-social-fanpage">
        przejdź na fanpage
        <i class="fa fa-long-arrow-right"></i>
      </p>
    </div>
  </a>
</footer>
