<nav class="nav-bar">
  <ul class="navigation-list">
    <li class="navigation-list-item {% if page.url == '/' %}mod-active{% endif %}">
      <a href="{{ '/' | relative_url }}">home</a>
    </li>
    <li class="navigation-list-item {% if page.url contains 'o-nas' %}mod-active{% endif %}">
      <a href="{{ '/o-nas/' | relative_url }}">o nas</a>
    </li>
    <li class="navigation-list-item {% if page.url contains 'kontakt' %}mod-active{% endif %}">
      <a href="{{ '/kontakt/' | relative_url }}">kontakt</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-item-facebook" href="//www.facebook.com/hebankowy" target="_blank">
        <img src="{{ '/assets/images/facebook-blue.svg' | relative_url }}" alt="Facebook">
      </a>
    </li>
  </ul>
</nav>