<article class="articles-item">
  <div class="articles-item-photo">
    <a href="{{ post.url | relative_url }}" title="Link do {{ post.title }}">
      <picture>
        {% if post.cover_photo_url %}
          <source media="(min-width: 980px)" srcset="{{ post.cover_photo_url | relative_url }}">
        {% endif %}
        {% if post.mobile_cover_photo_url %}
          <img srcset="{{ post.mobile_cover_photo_url | relative_url }}" alt="Zdjęcie do {{ post.title }}">
        {% elsif post.cover_photo_url %}
          <img src="{{ post.cover_photo_url | relative_url }}" alt="Zdjęcie do {{ post.title }}">
        {% elsif post.featured_photo_url %}
          <img src="{{ post.featured_photo_url | relative_url }}" alt="Zdjęcie do {{ post.title }}">
        {% endif %}
      </picture>
    </a>
  </div>
  <div class="articles-item-content">
    {% if post.categories and post.categories.size > 0 %}
      <a class="content-category-label" href="{{ '/' | append: post.categories.first | append: '/' | relative_url }}" title="{{ post.categories.first }}">{{ post.categories.first }}</a>
    {% endif %}
    <h1 class="content-title">
      <a href="{{ post.url | relative_url }}" title="Link do {{ post.title }}">
        {{ post.title }}
      </a>
    </h1>
    <p class="content-distance">
      {% if post.distance and post.distance > 0 %}{{ post.distance }} km, {% endif %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y" }}</time>
    </p>
    {% if post.teaser %}
      <ul class="content-teaser">
        {% assign teaser_points = post.teaser | split: '|' %}
        {% for point in teaser_points %}
          <li>{{ point | strip }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <a class="button content-read-on" href="{{ post.url | relative_url }}" title="Czytaj dalej {{ post.title }}">
      Zobacz więcej
      <i class="fa fa-angle-right" style="margin-left:.6em;"></i>
    </a>
  </div>
</article>
