template
  footer.global-footer
    section.global-footer-logo
      a route-href="route: home"
        img src="/assets/images/logo-with-tag.svg"
    section.global-footer-categories
      h2 Kategorie:
      ul.global-footer-list
        li repeat.for="category of categories"
          a route-href="route: showCategory; params.bind: { id: category.name }" ${category.name}
    section.global-footer-menu
      h2 Menu:
      ul.global-footer-list
        li repeat.for="row of router.navigation | authFilter: isAuthenticated"
          a href.bind="row.href" ${row.title}
        li if.bind="isAuthenticated"
          a click.trigger="logout()" Logout
    a.global-footer-social href="//www.facebook.com/hebankowy" target="_blank"
      div.global-footer-social-fb
        img src="/assets/images/facebook.svg"
      div
        h2 Psy są społeczne
        p
          | Śledź nowe wpisy na facebooku
          br
          | i poznawaj ciekawe miejsca!
        p.global-footer-social-fanpage
          | przejdź na fanpage
          i< class="fa fa-long-arrow-right"
