template
  h2 Log in
  form method="post" name="loginForm" submit.delegate="login()"
    div
      input(
        name="email"
        value.bind="email"
        placeholder="email"
        required
        autofocus
      )
    div
      input(
        name="password"
        value.bind="password"
        placeholder="password"
        required
      )
    button type="submit" Log in
