$mainFontColor: #3B3B3B;
$secFontColor: #fff;
$greenFontColor: #4b9a7a;

$mainBackgroundColor: #fff;

$backgroundLightBlue: #deeeff;
$backgroundBlue: #7bbafa;
$backgroundGreen: #6D7873;

$lightGray: #D0D0D0;
$gainsboro: #DCDCDC;
$black: #000;
$white: #FFF;
