.admin-photos {
  padding: 0 1em;
}

.admin-photos-new-form-item {
  display: flex;
  margin: 1em 0;
}

.admin-photos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

  .admin-photos-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    margin-top: 2em;
  }

    .admin-photos-list-item-image {
      display: block;
      flex-basis: 100%;

      img {
        max-height: 400px;
        max-width: 100%;
      }
    }

    .admin-photos-list-item-controls {
      margin-top: 1em;
      flex-basis: 100%;
      align-self: flex-end;
    }
