.button {
  display: inline-block;
  padding: 0.675rem 2.46rem;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #337ab7;
  border-color: #2e6da4;
  border: 2px solid transparent;
  white-space: nowrap;
  color: #fff;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  transition: all .1s linear;
  user-select: none;
  &:hover {
    background-color: #286090;
    border-color: #204d74;
  }
}

.button.mod-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  &:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

.button.mod-plain {
  color: $mainFontColor;
  background-color: $white;
  border-color: #ccc;
  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.button.mod-search {
  color: lightgray;
  background-color: white;
  border: none;
  &:hover {
    background-color: white;
  }
}
