.comments-new {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2em;
}

.comments-new-content {
  width: 100%;
  border: none;
  resize: vertical;
  padding: .7em .5em;
  outline: none;
}

.comments-new-author {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: .8em;
  margin: .5em 0;
  p {
    margin: 0;
  }
  input {
    border: none;
    flex: 0 35%;
    padding: .7em .5em;
    outline: none;
  }
  @media #{$small, $medium} {
    flex-direction: column;
    align-items: stretch;
    display: block;
    p {
      margin-bottom: .5em;
      margin-left: .5em;
    }
    input {
      width: 100%;
      margin-bottom: .5em;
    }
  }
}

.comments-new-reply-actions {
  align-self: flex-end;
}

.comments-new-email-disclaimer {
  align-self: flex-end;
  margin-bottom: .6em;
  font-size: 0.73em;
  color: #757575;
}

.comments-new-submit {
  transform-origin: right;
  align-self: flex-end;
  border-color: #4b9a7a;
  background-color: #4b9a7a;
  &:hover {
    background-color: transparent;
    border-color: #4b9a7a;
    color: #4b9a7a;
  }
}

.comments-new-cancel {
  margin-right: .5em;
  align-self: flex-end;
  color: #4b9a7a;
  font-size: 0.75em;
  cursor: pointer;
}

.comment-item {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 4em;
  }
}

.comment-item-header {
  @include u-text-condensed(0.9, left);
  p {
    margin-bottom: 1em;
    line-height: 1.2;
  }
}

.comment-item-header-date {
  font-size: .75em;
  color: #757575;
  font-style: italic;
}

.comment-item-content {
  position: relative;
  background-color: #fff;
  p {
    white-space: pre-line;
    padding: .7em .5em;
  }
}

.comment-item-content-arrow-up {
  width: 0;
  height: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: 1em solid #fff;
  position: absolute;
  top: -1em;
  left: 1em;
}

.comment-item-content-reply {
  position: absolute;
  bottom: .75em;
  right: 2em;
  color: #4b9a7a;
  font-size: 0.75em;
  cursor: pointer;
}

.comment-replies {
  display: flex;
  align-items: flex-end;
  flex-flow: column nowrap;
  font-size: .8em;
  margin-top: 2em;
  .comment-item,
  .comments-new {
    width: 90%;
  }
  .comment-item {
    margin-bottom: 0;
    &:last-child {
      margin-bottom: -1.5em;
    }
  }
  .comment-item-content-reply {
    right: 2.5em;
  }
}
