.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.global-header-logo {
  margin: .65em 0 .65em 1em;
  a { display: block; }
  img {
    height: 2.8em;
    @media #{$small, $medium} {
      height: 2em;
    }
  }
}

.global-header-categories {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-height: 0;
  list-style: none;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  transition: all .25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  overflow: hidden;
  @media #{$small, $medium} {
    flex-flow: row wrap;
  }
}

.global-header-categories.visible {
  position: relative;
  font-size: .9em;
  padding: 1em;
  max-height: 200px;
  &::after {
    content: '';
    position: absolute;
    top: -0.9em;
    right: 6em;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid #fafafa;
  }
  @media #{$small, $medium} {
    max-height: 300px;
    padding-bottom: .25em;
  }
}

li.global-header-categories-item {
  overflow: hidden;
  margin: 0 1.5em 0 2em;
  @media #{$small, $medium} {
    flex: 0 50%;
    margin: 0 0 .75em 0;
  }
}

a.global-header-categories-item-link   {
  display: flex;
  align-items: center;
  @media #{$medium} {
    margin-left: 3.3em;
  }
  @media #{$small} {
    margin-left: 2.3em;
  }
}

img.global-header-categories-item-icon {
  width: 2em;
  margin-right: 1em;
  @media #{$small, $medium} {
    width: 1.5em;
  }
}

img.global-header-categories-item-icon .svg-style {
  fill: #abc123;
}

.global-header-navbar-collapse {
  margin-right: 1em;
  @media #{$large, $xlarge} {
    display: none !important;
  }
}
