.global-footer {
  display: flex;
  justify-content: space-around;
  background-color: $backgroundGreen;
  color: #d4e7df;
  padding: 1.75rem 4.5rem;
  font-size: 0.80em;
  @media #{$small, $medium} {
    display: block;
    text-align: center;
  }
}

.global-footer-logo,
.global-footer-categories,
.global-footer-menu,
.global-footer-social {
  h2 {
    text-transform: uppercase;
    font-size: 1em;
    &::first-letter {
      font-size: 1.3em;
    }
  }
  @media #{$small, $medium} {
    margin-bottom: 1.5em;
  }
}
.global-footer-logo { flex: 1 20%; }
.global-footer-social { flex: 1 35%; }
.global-footer-categories,
.global-footer-menu {
  flex: 1 22%;
}

.global-footer-logo {
  img {
    width: 6em;
  }
}

.global-footer-social {
  display: flex;
  padding-right: 3em;
  @media #{$small, $medium} {
    display: block;
    padding-right: 0;
  }
}

.global-footer-social-fb {
  padding-right: .5em;
  img { width: 3em; height: 100%; }
  @media #{$small, $medium} {
    padding-right: 0;
  }
}

.global-footer-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.global-footer-social-fanpage {
  text-align: right;
  text-decoration: underline;
}
