.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background-color: #fff;

  &-logo {
    margin: .65em 0 .65em 1em;

    a {
      display: block;
    }

    img {
      height: 2.8em;

      @media #{$small, $medium} {
        height: 2em;
      }
    }
  }

  &-navbar-collapse {
    margin-right: 1em;

    @media #{$large, $xlarge} {
      display: none !important;
    }
  }
}
