<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}hebankowy.pl - blog o wycieczkach z psem</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}O tym, gdzie zabrać swojego psa na wycieczkę we Wrocławiu i na Dolnym Śląsku w ogóle. Przełamujemy rutynę jednego parku i ruszamy o krok dalej.{% endif %}">
  <meta name="subject" content="hebankowy.pl, czyli aktywnie z psem we Wrocławiu">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}hebankowy.pl - blog o wycieczkach z psem | Wrocław">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}O tym, gdzie zabrać swojego psa na wycieczkę we Wrocławiu i na Dolnym Śląsku w ogóle. Przełamujemy rutynę jednego parku i ruszamy o krok dalej.{% endif %}">
  <meta property="og:image" content="{% if page.seo_image %}{{ page.seo_image | absolute_url }}{% endif %}">
  <base href="/">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  {% seo %}
  {% feed_meta %}
</head>
<body>
  <div class="container">
    <header class="global-header">
      <div class="global-header-logo">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/images/logo-with-text.svg' | relative_url }}" alt="Hebankowy.pl">
        </a>
      </div>
      <div class="global-header-navbar-collapse">
        <i class="fa fa-bars"></i>
      </div>
      {% include navigation.html %}
    </header>

    <main class="page-host">
      {{ content }}
    </main>

    {% include footer.html %}
  </div>
</body>
</html>
